.heading{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
}
.heading h2{
    font-size: 3.2rem;
    font-weight: 800;
    text-align: center;
}
.heading p{
    font-size: 2rem;
    text-align: center;
    width: 60%;
    line-height: 1.5;
}
p.dark{
    color: #D7D7D7;
}
h2.dark{
    color: #fff;
}

@media screen and (max-width:850px) {
    .heading h2{
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
        width: 754px;
    }
    .heading p{
        font-size: 2rem;
        text-align: center;
        width: 754px;
        line-height: 1.5;
        font-weight: 500;
    }
}
@media screen and (max-width:400px){
    .heading h2{
        font-size: 2rem;
        width: 329px;
    }
    .heading p{
        font-size: 1.6rem;
        text-align: center;
        width: 329px;
        line-height: 2;
    }
}