nav{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 3rem 10rem;
    max-width: 2000px;
    margin: 0 auto;
}
.logo{
    width: 17rem;
}
ul{
    display: flex;
    gap: 5.4rem;
}
li a{
    font-size: 2rem;
    color: #636363;
    align-items: center;
    display: flex;
    gap: 1.6rem;
}
.icons{
  font-size: 4rem;
  display: none;
}
.navItems{
  display: flex;
  align-items: center;
  gap: 10.8rem;
}

@media screen and (max-width:850px) {
  .icons{
    display: block;
  }
  .navItems{
    display: none;
    position: fixed;
    top: 12.5rem;
    left: 0;
    height: 60vh;
    width: 100%;
    background-color: var(--primary-color);
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px var(--primary-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .navItems.mobile{
    display: flex;
  }
  nav{
    padding: 4rem;
    max-width: 100%;
    box-shadow: 0px 4px 4px  #0000000D;
  }
  ul{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width:400px){
  .logo{
    width: 11.8rem;
}
  .icons{
    font-size: 3.2rem;
  }
  .navItems{
    top: 7.5rem;
    gap: 1rem;
    height: 58vh;
  }
  nav{
    padding: 2rem;
    max-width: 100%;
    box-shadow: 0px 4px 4px  #0000000D;
  }
}