nav{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 3rem 10rem;
}
.logo{
    width: 17rem;
}
ul{
    display: flex;
    gap: 5.4rem;
}
li a{
    font-size: 2rem;
    color: #636363;
    align-items: center;
    display: flex;
    gap: 1.6rem;
}
