.why{
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7.2rem 10.3rem;
    max-width: 2000px;
    margin: 0 auto;
}
.why p{
    color: #d7d7d7;
}
.why h3, .why h2{
    color: #fff;
}
.box{
    width: 39.5rem;
    height: 11.7rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.box p{
    font-size: 2rem;
}
.box h3{
    font-size: 2.4rem;
}
.boxCtn{
    display: flex;
    gap: 6.05rem;
    margin-top: 6.4rem;
}
.features{
    width: 47.7rem;
    height: 22.5rem;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.features h3{
    font-size: 2.4rem;
}
.features p{
    font-size: 2rem;
}