.hero{
    display: flex;
    flex-direction: column;
    padding-top: 6.4rem;
    gap: 6.4rem;
}
.upperDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}
.upperDiv h1{
    font-weight: 800;
    font-size: 6.4rem;
    line-height: 1.3;
    text-align: center;
    width: 60%;
}
.upperDiv p{
    font-size: 2.4rem;
    line-height: 1.8;
    width: 56%;
    text-align: center;
}
.btns{
    display: flex;
    gap: 3.2rem;
}
.imgCtn{
    max-width: 126rem;
    align-self: center;
}
