.imgCtn{
    width: 30.7rem;
    height: 11.7rem;
    background-color: #F9F9F9;
    padding: 0 4.8rem;
}

@media screen and (max-width:850px) {
    .imgCtn{
        width: 21.6rem;
        height: 8rem;
        background-color: #F9F9F9;
        padding: 0 4.8rem;
    }
}
@media screen and (max-width:400px){
    .imgCtn{
        width: 16rem;
        height: 6.2rem;
        background-color: #F9F9F9;
        padding: 0 4.8rem;
    }
    
}