@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
  --primary-color: #6FC247;
  --text-color: #373737;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
body{
  line-height: 1.5;
  color: #373737;
  font-family: "Manrope", sans-serif;
}
a{
  text-decoration: none;
}

ul,ol{
  list-style: none;
}
img{
  width: 100%;
}
main{
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 12rem;
}